<div id="<%= dom_id review %>">
  <p>
    <strong>Stars:</strong>
    <%= review.stars %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= review.comment %>
  </p>

  <p>
    <strong>User:</strong>
    <%= review.user.name %>
  </p>
  
</div>
